body{
  background: black;
}
.imageSlides {
    display: none
  }
   
  img {
    margin: 1px;
    width: 600px;
    height: 620px;
    border-radius: 20px;
    border: dashed 5px lemonchiffon;
  }
   
  /* Our main images-slideshow container */
  .images-slideshow {
    max-width: 612px;
    position: relative;
    margin: auto;
    background: #222;
    border-radius: 20px;
  }
   
  /*Style for ">" next and "<" previous buttons */
  .slider-btn{
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 8px 16px;
    margin-top: -22px;
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
    font-size: 18px;
    transition: 10s ease;
    user-select: none;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 50%;
  }

  /* setting the position of the previous button towards left */
  .previous {
    left: 2%;
  }
   /* setting the position of the next button towards right */
  .next {
    right: 2%;
  }
   
  /* On hover, adding a background color */
  .previous:hover,
  .next:hover {
    color: rgb(255, 253, 253);
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    height: 5%;
    width: 5%;
  }
